.comunity {
    position: relative;
    width: 100vw;
    height: 100%;
    &__headerBox {
        position: relative;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        &-img {
            width: 50%;
            height: 200px;
        }
        &-header {
            padding: 0.4em 0.5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
            font-size: 1.2rem;
          
        }
    }
    &__textBack {
        position: relative;
        width: 100%;
        &-btn {
            position: relative;
            left: 0%;
            width: 98.5%;
            &--click {
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
        
    }
    &__users {
        margin-top: 3em;
    }
    &__info {
        position: relative;
        width: 60%;
        height: 100%;
        text-align: justify;
        color: #999;
        font-size: 0.8rem;
        padding: 0.4em 0.2em;
        margin-left: 0.5em;
    }
}

@media only screen and (min-width: 576px) {
    .comunity {
        &__headerBox {
            &-img {
                height: 210px;
            }
            &-header {
                font-size: 1.6rem;
            }
        }
    }
} 

@media only screen and (min-width: 768px) {
    .comunity {
        &__headerBox {
            &-img {
                height: 240px;
            }
            &-header {
                font-size: 2.2rem;
            }
        }
    }
} 

@media only screen and (min-width: 992px) {
    .comunity {
        &__headerBox {
            &-img {
                height: 270px;
            }
            &-header {
                font-size: 3rem;
            }
        }
    }
} 

@media only screen and (min-width: 1200px) {
    .comunity {
        &__headerBox {
            &-img {
                height: 325px;
            }
            &-header {
                font-size: 4rem;
            }
        }
    }
} 

@media only screen and (min-width: 1400px) {
    .comunity {
        &__headerBox {
            &-img {
                height: 410px;
            }
           
        }
    }
} 



