.editmeals {
    &__textCamera, &__boxCamera, &__avatar {
        margin-left: 0.8em;
        margin-top: 0.5em;
    }
    &__avatar {
        margin-bottom: 0.5em;
    }
    &__calendar {
        margin-top: 0.5em;
    }

}


