.editmeals {
    position: relative;
    &__errNameMeal, &__errChangePrepare, &__errChangeTime {
        font-size: 0.8rem;
        color: red;
        padding: 0.4em 0.3em;
        margin-left: 0.5em;
    }
    &__textCamera, &__boxCamera, &__avatar {
        margin-left: 0.8em;
        margin-top: 0.5em;
    }
    &__avatar {
        margin-bottom: 0.5em;
    }
    &__calendar {
        margin-top: 0.5em;
    }
    &__defaulttextcamera {
        color: #999;
        font-size: 0.8rem;
        padding: 0.4em 0.3em;
        margin-left: 0.5em;
        text-align: justify;
    }

    &__boxingredients {
        margin-left: 0.8em;
        display: flex;
        flex-direction: column;
        width: 54%;
    }
    &__unitBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    &__info {
        margin-left: 0.5em;
        &-errAll {
            color: red;
            font-size: 0.8rem; 
            margin-left: 0.5em;
            padding: 0.4em 0.3em;
        }
    }
    &__infoErr {
        color: red;
        font-size: 0.8rem;
        padding: 0.4em 0.3em;
        margin-left: 0.5em;
    }

}


