.comunitydetails {
    position: relative;
    width: 100vw;
    height: 100%;
    &__length {
        margin-top: 1em;
        margin-left: 0.4em;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
    }
    &__choiceMeal {
        position: relative;
        width: 100vw;
        height: 70px;
        margin-top: 1em;
        &-search {
            position: absolute;
            left: 2%;
            top: 20%;
        }
        &-btn {
            position: absolute;
            right: 4%;
            top: 20%;
        }
    }
    
}

@media only screen and (min-width: 576px) {
    .comunitydetails {
        &__length {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .comunitydetails {
        &__length {
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    .comunitydetails {
        &__length {
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .comunitydetails {
        &__length {
            font-size: 3.4rem;
        }
    }
}